#lists {
    display: flex;
    flex-direction: row;
}

.list-col {
    position: relative;
    min-width: 100px;
}

#buttons {
    position: absolute;
    left: 5px;
    min-width: 75px;
    height: 30px;
}
